<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xablau</title>

    <link rel="shortcut icon" type="imagex/png" href="/public/img/Xicone.ico">

    <link rel="stylesheet" href="/bscss/bootstrap.min.css">

    <link rel="stylesheet" href="/public/css/estilo.css">

</head>

<body>

    <header id="cabeca">

        <nav>
            <a id="link" class="navbar-brand" href="/home">

                <img src="/public/img/Xablau.png" width="300" height="150">

            </a>
        </nav>
        <nav id="barra" class="nav flex-column">
            <a class="nav-link active" href="/xablau.com/home">Home</a>
            <a class="nav-link" href="/xablau.com/cadastro">Cadastrar</a>
            <a class="nav-link" href="/xablau.com/listar">Listar</a>
        </nav>

    </header>
    <main>

        {{{body}}}

    </main>
    <footer id="cabecalho">

        <h6>Aluno: Wilker Sebastian Afonso Pereira</h6>
        <p>Turma: 229A</p>

        <a href="https://github.com/WilkerSebastian/projeto-individual-DW2.git">Repositorio</a>

    </footer>

    <script src="/jquery/jquery.slim.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/bsjs/bootstrap.min.js"></script>

</body>

</html>