<div id="spin">

    <div class="spinner-border text-success" role="status">

    </div>

    <span>Loading...</span>

</div>

<div id="certo">

    <h2>Compra Realizada com Sucesso!</h2>

</div>

<script src="/public/js/comprando.js"></script>